
<div class="mydiv">
<nav class="navbar navbar-expand-sm">
    <!-- main menu -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Build & Price</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Current Offers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Digital Showroom</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">BMW Approved Used Cars</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Owner's Circle</a>
      </li>
  
    </ul>
  
  </nav>
<nav class="navbar navbar-expand-sm navbar-main">
    <!-- main menu -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">All Models</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Services</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          BMW Insights
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">BMW EfficientDynamics</a></li>
          <li><a class="dropdown-item" href="#">BMW Connected Drive</a></li>
          <li><a class="dropdown-item" href="#">BMW Approved Used Cars</a></li>
          <li><a class="dropdown-item" href="#">BMW i</a></li>
          <li><a class="dropdown-item" href="#">#BMWStories</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fa fa-search"></i>Search</a>
      </li>
    </ul>
  
  </nav>
</div>
<div>
  <img src="assets/images/BMW_Grey_RGB.svg" class="ig-logo">
</div>