<!-- scrollable banner-->
  <div id="myCarousel1" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel1" data-bs-slide-to="0" class="active" aria-current="true" aria-label="M5"></button>
      <button type="button" data-bs-target="#myCarousel1" data-bs-slide-to="1" aria-label="X4"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
       <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#fff"/></svg>
        <div class="container">
          <div class="carousel-caption">
            <p><img src="assets/images/BMW_M5.jpg" alt="BMW M5"></p>
            
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class ="action-button-div">
          <h1>BRING IT ON.</h1><h4>The all-new BMW X4</h4><p></p><button type="button" class="btn btn-primary interested-btn">Keep me informed</button></div>
      <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#fff"/></svg>
        <div class="container">
          <div class="carousel-caption">
            <p><img src="assets/images/BMW_X4.jpg" alt="BMW X4"></p>
          </div>
        </div>
      </div>
      <div><button type="button" class="btn btn-primary chat-button"><span><i class="fa fa-comment fa-lg"></i></span> Online Chat</button></div>
    </div>
  </div>

  <!--teasers-->
  <div class="container">
    <div class="row">
      <div class="col col-med-6 teaser-box">
        <img src="assets/images/ownersCircle.jpg" alt="Owner \'s Circle">
        <div class="teaser-div">
        <div class="teaser-div-head">BMW OWNER'S CIRCLE.</div>
        <div class="teaser-div-body">Keep all your information up to date in one place. Log in to get started</div>
        <div class="teaser-div-action"><span><i class="fa fa-chevron-right"></i></span> <a href="#">Click here to login</a></div>
        </div>
      </div>
      <div class="col col-med-6 teaser-box">
      <img src="assets/images/6seriesGT.jpg" alt="6 Series GT">
        <div class="teaser-div-head">THE FIRST EVER BMW 6 SERIES GT.</div>
        <div class="teaser-div-body">Book a test drive, configure online or receive custom information</div>
        <div class="teaser-div-action"><span><i class="fa fa-chevron-right"></i></span> <a href="#">Experience now</a></div>
      </div>
    </div>

    <!-- small carousel-->
    <app-carousel></app-carousel>

       <!-- contact dealer form-->
    <app-contact-dealer-form></app-contact-dealer-form>
 